YAPW/.vs
YAPW/obj
YAPW.Domain/obj
YAPW.MainDb/obj
YAPW.Models/obj
YAPW/bin/Debug
YAPW.Domain/bin
YAPW.MainDb/bin
YAPW.Models/bin
.vs/YAPW/config
.vs/YAPW/DesignTimeBuild
.vs/YAPW/FileContentIndex
.vs
YAPWEntities.API/obj
YAPWEntities.API/bin
Servicebrokers/VideoChange.Client.SignalR/bin
Servicebrokers/VideoChange.Client.SignalR/obj
Servicebrokers/YAPW.Service.Broker/bin
Servicebrokers/YAPW.Service.Broker/obj
*.exe
*.tfstate
*.tfstate.backup
.terraform
YAPW.Website/YAPW.Website/bin
YAPW.Website/YAPW.Website/obj
azure_rsa.pub
azure_rsa
YAPW.API/bin
YAPW.API/obj
YAPW.API.Tests/bin
YAPW.API.Tests/obj
azurecli.txt
YAPW.LoadTesting/obj
data
ssh keys
YAPW.Website.React2
YAPW.Website.React
