@using YAPW.Models;
@model VideoSearchResponse
@{
    Layout = null;
}
<head>
</head>
<div class="row">
    <div class="col-lg-12 ">
        <div class="card" style="width:auto; height:auto;background-color:#101010;border-radius:10px; padding:10px">
            <div class="row">
                @foreach (var item in Model.Videos)
                {
                    <div class="col-lg-2 col-md-2 col-sm-6 col-6" style="text-align:center">
                        <figure class="snip1466">
                            <img src=@item.VideoInfo.Cover alt="sample52" />
                            <a href="Name?id=@item.VideoInfo.VideoUrl" class="nav-link " style="padding-top:30px;">@*<i class="fa-solid fa-circle-play"></i>*@</a>
                            <p style="font-size:large"> <span>@item.Name</span></p>
                        </figure>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(async function () {
    });
</script>



