@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hentai Titties - Watch Free Streaming Hentai 1080p HD</title>
    <meta name="description" content="Hentai Titties - Watch Hentai videos and free download, free Hentai Streaming online - Free Hentai Stream in 720p 1080p HD" />
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large" />
    <link rel="canonical" href="http://hentaititties.com/" />
    <link rel="next" href="http://Hentaititties.com/search" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Watch Free Hentai Titties Now - Unlimited Hentai Stream" />
    <meta property="og:description" content="Hentai Titties - Watch free hentai video stream HD in English subtitles to watch and download the best hentaistream in 720p/1080p uncensored hentai" />
    <meta property="og:url" content="http://hentaititties.com/" />
    <meta property="og:site_name" content="Watch Free Hentai Titties Now - Unlimited Hentai Stream" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Watch Free Hentai Titties Now - Unlimited Hentai Stream" />
    <meta name="twitter:description" content="Hentai Titties - Watch free hentai video stream HD in English subtitles to watch and download the best hentaistream in 720p/1080p uncensored hentai" />
    <link rel="icon" href="~/img/favicon.png">
    <partial name="AdminLTE/_Styles" />
    <partial name="AdminLTE/_Scripts" />

    <style>
        a {
            color: #fff;
            text-decoration: none;
            display: inline-block;
            position: relative;
        }

            a:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: #fff;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            a:hover:after {
                width: 100%;
                left: 0;
            }
        #myBtn {
            display: none;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: red;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

            #myBtn:hover {
                background-color: #555;
            }
    </style>
</head>
<body id="mainBodyContent" class="" style="background-color:#100F10; color:#B3B3B3;">
    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-angle-up"></i></button>
    @*/* border-color: #202020;*/*@
    <div id="mainWrapper" class="wrapper">
        <partial name="AdminLTE/_TopNavigation" />
        @* <partial name="AdminLTE/_MainNavigation" /> *@

        <!-- Content Wrapper. Contains page content -->
        <div class="" style="background-color:#070708; color:#B3B3B3;">
            <!-- Content Header (Page header) -->
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    <main id="mainContentArea">
                        @RenderBody()
                    </main>
                    <!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        @*<aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>*@
        <!-- /.control-sidebar -->

        @*<partial name="AdminLTE/_Footer" />*@
    </div>
    <!-- ./wrapper -->
    @*@RenderSection("_Scripts", required: false)*@
    <script>
        var currentUrl = window.location.hash.substr(1);
        //alert(currentUrl);
        if (currentUrl !== "") {
            CancelAllAjaxRequest();
            window.history.pushState( currentUrl, null, "#" + currentUrl);
            LoadAjaxPage('GET',currentUrl,false);
        }
        $(document).ready(function () {
            $('.bottom').toggleClass('active');

            let menu = document.querySelector('#menu-icon');
            let navList = document.querySelector('.nav-list');

            // menu.onclick = () => {
            //     // menu.classList.toggle('bx-x');
            //     navList.classList.toggle('open');
            // }
            // $("#mainWrapper").toggleClass("toggle");
        });

        let mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>

