@using YAPW.Models;
@model List<CategoryDataModel>
@{
    Layout = null;
    var count = 0;
}
<style>

    /*main images styles*/
    figure.snip1466 {
        position: relative;
        overflow: hidden;
        margin: 10px;
        width: 100%;
        color: #ffffff;
        font-size: 16px;
        background-color: #000000;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        text-align: center;
        font-size: 70px;
    }

        figure.snip1466 *,
        figure.snip1466 *:before,
        figure.snip1466 *:after {
            -webkit-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        figure.snip1466 img {
            max-width: 100%;
            backface-visibility: hidden;
            vertical-align: top;
        }

        figure.snip1466 i {
            position: absolute;
            line-height: 50px;
            width: 50px;
            text-align: center;
            font-size: 28px;
            z-index: 1;
            bottom: 0;
            right: 0;
            -webkit-transform: translate(100%, 100%);
            transform: translate(100%, 100%);
        }

            figure.snip1466 i:after {
                position: absolute;
                bottom: 3px;
                right: 3px;
                content: '';
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 0 75px 75px;
                border-color: transparent transparent #34495e;
                z-index: -1;
            }

        figure.snip1466 a {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 1;
        }

        figure.snip1466:hover img,
        figure.snip1466.hover img {
            zoom: 1;
            filter: alpha(opacity=70);
            -webkit-opacity: 0.7;
            opacity: 0.7;
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

        figure.snip1466:hover i,
        figure.snip1466.hover i {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }

</style>

<div class="row " style="padding:7%;">
    <div class="col-lg-12">
        <div class="card card-outline " style="background-color:black">
            <div class="tableOverlayContainer">
                <div class="overlay tableOverlay" style="display:none">
                    <i class="fas fa-2x fa-sync-alt fa-spin"></i>
                </div>
                <h2 style="text-align:center">Categorys</h2>
                <input type="text" id="myInput" style="margin: auto;display: block;" size="50" placeholder="Search for Categories.." title="Type in a name">

                <div class="row " style="padding-left:6%">
                    @*Random*@
                    @if (Model?.Count > 0)
                    {
                        @foreach (var item in Model)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-12 col-12" id="Category-@count">
                                <figure class="snip1466">
                                    <img src=@item.PhotoLink alt="sample52" style="width:268px;height:394px;" />
                                    <a href="Main/Videos/Search?category=@item.Name" class="nav-link ajaxLoad" style="padding-top:30px; background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) )">@*<i class="fa-solid fa-circle-play"></i>*@</a>
                                    <p style="font-size:large" id="CategorySpan-@count"><span>@item.Name</span></p>
                                </figure>
                            </div>
                            @@count++;
                        }
                    }
                </div>
                <div>
                    @*ad*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#myInput').on('input', function (e) {
            myFunction()
        });

        function myFunction() {
            var Category, p, input, filter, a, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            // var aaa = $(`#CategorySpan-0 span`).html()
            console.log("s")
            for (i = 0; i < @Model.Count; i++) {
                a = $(`#CategorySpan-${i} span`).html()
                // txtValue = a.textContent || a.innerText;
                if (a.toUpperCase().indexOf(filter) != -1) {
                    $(`#Category-${i}`).css("display", "");
                } else {
                    $(`#Category-${i}`).css("display", "none");
                }
            }
        }
    });


</script>