<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#070708; position: fixed;z-index:100;font-size:25px;" >
    @* <a class="navbar-brand" href="#">Navbar</a> *@
    @* <a  asp-controller="Videos" asp-action="Index" class="nav-link logo ">
        @* <i class="fa-solid fa-tags"></i>
        yapw <span class="sr-only">(current)</span>
    </a> *@
    <div class="row">
        <div class="col-6" style="background-color:#070708; text-align:left;">
            <a  asp-controller="Video" asp-action="Index" class="nav-link ">
                @* <i class="fa-solid fa-tags"></i>*@
                @* yapw <span class="sr-only">(current)</span> *@
                <img src="~/img/favicon.png" height="40px" width="40px"/>@* width="150" height="20" *@
            </a>
        </div>
        <div class="col-6" style="background-color:#070708; text-align:right;">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a  asp-controller="Video" asp-action="Index" class="nav-link logo ">
                    @* <i class="fa-solid fa-tags"></i> *@
                    Titties <span class="sr-only">(current)</span>
                </a>
                @* <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> *@
            </li>
            <li class="nav-item">
                <a  asp-controller="Video" asp-action="Search" class="nav-link ">
                    @* <i class="fa-solid fa-building"></i> *@
                    Search
                </a>
            </li>
            <li class="nav-item">
                <a  asp-controller="Video" asp-action="Categories" class="nav-link ">
                    @* <i class="fa-solid fa-building"></i> *@
                    Categories
                </a>
            </li>
            <li class="nav-item">
                <a  asp-controller="Video" asp-action="Brands" class="nav-link ">
                    @* <i class="fa-solid fa-building"></i> *@
                    Brands
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Video" asp-action="Random" class="nav-link ">
                    @* <i class="fa-solid fa-building"></i> *@
                    Random
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Video" asp-action="VideoOfTheDay" class="nav-link ">
                    @* <i class="fa-solid fa-building"></i> *@
                    Peak
                    @* Video of the Day *@
                </a>
            </li>
           @*  <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li> *@
        </ul>
        @* <form class="form-inline my-2 my-lg-0 col-md-4">
            <div style="position: relative;">
                <input class="custom_search form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <span class="search_span"></span>
            </div>
            <button class="ml-lg-3 btn btn-success my-2 my-sm-0 search_button tx--white" type="button" ripple="ripple">Search</button>
        </form> *@
    </div>
</nav>